/* font import */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Special+Elite);

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing */

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* styles */

body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.5550595238095238) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 2em;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    background-color: #E0C9A6;
    border: 2px solid #caa56c;
    padding: 0.5em;

    .heading {
        font-family: 'Special Elite';
        font-size: 1.8em;
    }

    .pickingItems {
        display: flex;
        flex-direction: column;

        input {
            margin: 0.3em;
            padding: 0.5em;
            border : 1px solid #333;
            border-radius: 5px;
        }

        #button, #clear {
            cursor: pointer;
        }
    }

    #warning {
        color: #ac2727;
    }
}

.sp {
    float: right;
    cursor: pointer;
    color: #ac2727;
}

.list {
    text-align: left;
    list-style-type: none;

    li {
        padding: 0.55em 1em;
    }
}
